*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}

html,body{
    height: 100%;
    width: 100;
}

.main{
    height: 100%;
    width: 100%;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel{
    height: 80%;
    width: 80%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden; /* border-radius pahle jese ho jayega */
}

.ptop{
    width: 100%;
    height: 90px;
    background-color: rgb(111, 216, 111);
    color: white;
    padding: 0 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.elem{
    /* width: 10%; */
    display: flex; /* score & box dono alg-alg ho jayenge */
    /* background-color: red; */
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-size: 22px;
    font-weight: 600;
}

#box{
    padding: 10px 20px;
    background-color: #fff;
    color: rgb(17, 153, 94);
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px    
}

.pbtm{
    width: 100%;
    height: calc(100% - 100px);  /*calc fun se % se - kr skte hai*/
    padding: 15px;
    margin-left: 10px;
    gap: 10px;
    flex-wrap: wrap; /* buble height width ko according upr niche hone ke liya */ 
    display: flex; /* do bubble ko ek left-right lane ke liya */
    align-items: center;
    justify-content: center;
    color: red;
}

.bubble{
    width: 40px;
    height: 40px;
    background-color: rgb(17, 153, 94);
    color: white;
    border-radius: 50%;
    display: flex; /* bubbl ke font ko center me alne ke liya */
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.bubble:hover{
    background-color: rgb(19, 214, 130);
    cursor: pointer;
}

